src/test/
.svn
*/.svn
*/*/.svn
*/*/*/.svn
*/*/*/*/.svn
*/*/*/*/*/.svn
*/*/*/*/*/*/.svn
*/*/*/*/*/*/*/.svn
bin
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store
